<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Contact Editor</title>
<link rel="stylesheet" type="text/css" href="/css/main.css" />
<script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
	<header>
		<h1>Contact Editor</h1>
	</header>
	<section>
		<form action="#" th:action="@{/contacts}" th:object="${contact}"
			id="contactForm" method="post">
			<div class="table">
				<div class="row">
					<div class="cell">First&nbsp;Name</div>
					<div class="cell">
						<input type="text" th:field="*{firstName}" />
					</div>
				</div>
				<div class="row">
					<div class="cell">Last&nbsp;Name</div>
					<div class="cell">
						<input type="text" th:field="*{lastName}" />
					</div>
				</div>
				<div class="row">
					<div class="cell">Email</div>
					<div class="cell">
						<input type="text" th:field="*{email}" />
					</div>
				</div>
			</div>
			<div>
				<img th:src="@{/images/db.png}" alt="save" title="save"
					class="small" onclick="saveContact()"
					onmouseover="this.src='/images/db_over.png'"
					onmouseout="this.src='/images/db.png'" /> <img
					th:src="@{/images/cancel.png}" alt="cancel" title="cancel"
					class="small" onclick="cancelAddContact()"
					onmouseover="this.src='/images/cancel_over.png'"
					onmouseout="this.src='/images/cancel.png'" />
			</div>
			<input th:if="${contact.id}" type="hidden" th:field="*{id}" />
		</form>
		<div>
			<ol id="errors"></ol>
		</div>
	</section>
	<footer>
		<a
			href="https://sonarcloud.io/dashboard?id=CraigFoote_ca.footeware.es.contacts"
			target="_blank"> <img
			src="https://sonarcloud.io/api/project_badges/measure?project=CraigFoote_ca.footeware.es.contacts&metric=alert_status" />
		</a> <a href="https://github.com/CraigFoote/ca.footeware.es.contacts.tests"
			target="_blank"> <img alt="Open Source at Github"
			src="/images/github.png" title="Open Source at Github" /></a> <a
			href="https://spring.io/projects/spring-boot" target="_blank"><img
			src="/images/spring-boot-icon.png" alt="Made with Spring Boot"
			title="Made with Spring Boot" /></a> <a
			href="https://spring.io/projects/spring-data-elasticsearch"
			target="_blank"><img src="/images/springdata.png"
			alt="Made with Spring Data" title="Made with Spring Data" /></a> <a
			href="https://arcticicestudio.github.io/nord/" target="_blank"><img
			src="/images/nord.png" alt="Inspired by Nord pallette"
			title="Inspired by NOrd pallette" /></a>
	</footer>
</body>
</html>